*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# YARD artifacts
.yardoc
_yardoc
doc/

test_config.xml  #config used for automated tests create this by hand - see spec_helper for example

#.ideas is from RubyMine
.idea
*.iml